body {
    background-color: #F8F9FA;
  }
  
  
  .navbar-brand {
    padding: 16px 24px;
    margin-right: 0;
  }
  
  
  #left-panel {
    padding: 0;
    background-color: #F8F9FA;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #D8D8D8;
  }
  
  /* #left-panel::before {
    position: absolute;
    top: -40px;
    bottom: -40px;
    left: 100%;
    z-index: 0;
    width: 100%;
    box-shadow: -12px 0 24px -5px rgba(132,146,166,0.16);
    content: ' ';
  } */
  
  @media (min-width: 992px) {
    #left-panel {
      width: 256px;
      bottom: 0;
      flex-direction: column;
      align-items: baseline;
    }
  }
  
  #global-slider {
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    width: 256px;
    z-index: 1040;
  }
  
  @media (min-width: 992px) {
    #global-slider {
      left: 0 !important;
      top: unset;
      bottom: unset;
      position: unset;
    }
  }
  
  
  
  #global-slider .navbar-nav {
    width: 100%;
  }
  
  #global-slider .nav-link {
    border-radius: 4px;
    padding: 12px 16px;
  }
  
  
  #global-slider .nav-link-icon {
    /* color: #e5f2ff; */
    line-height: 24px;
    width: 24px;
    text-align: center;
    margin-right: 16px;
    font-size: 16px;
  }
  
  
  
  
  .navbar-wrapper {
    padding: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
  }
  
  
  
  
  
  
  
  
  
  
  .nav-up {
    padding: 0;
    padding-top: 12px;
  }
  
  @media (min-width: 992px) {
    .nav-up {
      padding-top: 40px;
      padding-bottom: 24px;
    }
  }
  
  /* .nav-up .heading-title, */
  .nav-up .media {
    display: none !important;
  }
  
  @media (min-width: 992px) {
    /* .nav-up .heading-title, */
    .nav-up .media {
      display: block !important;
    }
  }  
  
  .nav-up .heading-search {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 0;
  }
  
  @media (min-width: 992px) {
    .nav-up .heading-search {
      padding-top: 0;
      padding-bottom: 0;
      /* margin-top: 12px; */
    }
  }  
  
  .nav-up .heading-navbar,
  .nav-up .sub-heading {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  @media (min-width: 992px) {
    .nav-up .heading-navbar,
    .nav-up .sub-heading {
      margin-top: 12px;
      margin-bottom: -24px;
    }
    .nav-up .sub-heading {
      margin-top: 24px;
    }
  }
  
  
  
  
  @media (min-width: 992px) {
    #main-panel .navbar {
      left: 256px;
    }
  }
  
  @media (min-width: 992px) {
    #main-panel {
      padding-top: 0;
      margin-left: 256px;
    }
  }
  
  
  .header {
    padding: 16px 24px;
    border-bottom: 1px solid #D8D8D8;
  }
  
  .header-title {
    margin-bottom: 0;
  }
  
  .heading {
    margin-top: 40px;
    margin-bottom: 24px;
  }
  
  .heading-title {
    margin-bottom: 0;
  }
  
  .heading-details {
    margin-top: 8px;
    margin-bottom: 0;
    color: #727272;
  }
  
  .list-inline-item-divider {
    display: inline-block;
    width: 16px;
    text-align: center;
  }
  
  .list-inline-item-divider::before {
    content: "\2022";
  }
  
  
  .card-header {
    border-bottom: 0;
  }
  
  
  .card-img-wrapper {
    position: relative;
    padding-bottom: 56.25%;
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .card-img {
    /* border-radius: 1rem; */
  }
  
  #products .card {
    padding: 0;
  }
  
  #products .card-body {
    padding-left: 0;
    padding-right: 0;
  }
  
  .card-title {
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  
  .card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
  }
  
  .btn {
    font-weight: 600;
  }
  
  
  
  .table th {
    border-top: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #727272;
  }
  
  .table th a {
    color: inherit;
  }
  
  
  
  .box-container {
    background-color: #fff;
    /* margin-top: -80px; */
  }
  
  .box-container .heading {
    padding: 40px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #D8D8D8;
  }
  
  .box-container .content {
    padding: 40px 80px;
  }
  
  
  .form-group,
  .form-label {
    margin-bottom: 0;
  }
  
  
  .list-group-item .form-label {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    color: #727272;
    text-transform: uppercase;
    line-height: 20px;
    align-self: center;
  }
  
  
  
  
  
  
  
  .card-header, .card-footer {
    padding: 1.5rem;
  }
  
  .card-header {
    padding-bottom: 0.75rem;
    background-color: transparent;
  }
  
  
  .card-header-title {
    margin: 0;
  }
  
  .card-header-subtitle {
    margin-top: 8px;
    margin-bottom: 0;
    color: #727272;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  
  
  
  
  
  
  .list-group-flush .list-group-item {
    margin-left: 1.5rem;
    padding-left: 0;
    width: unset;
  }
  
  .list-group-flush .list-group-item-action:hover {
    margin-left: 0;
    padding-left: 1.5rem;
  }
  
  
  
  
  .list-group-editable .list-group-item {
    padding-right: 80px;
  }
  
  .list-group-item-btn {
    display: none;
  }
  
  .list-group-item-action:hover .list-group-item-btn {
    display: block;
    position: absolute;
    top: calc(50% - 12px);
    right: 1rem;
  }
  
  
  
  .btn-edit,
  .btn-close,
  .btn-check {
    /* position: absolute; */
    /* display: none; */
    padding: 0;
    border: 0;
    right: 1rem;
    width: 24px;
    line-height: 24px;
    text-align: center;
    top: calc(50% - 12px);
    color: #bebebe;
  }
  
  .btn-close,
  .btn-check {
    display: none;
  }
  
  .list-group-item-edit-mode {
    display: none;
  }
  